<!--<ion-side-menus>
  <ion-side-menu-content>-->
<ion-content has-header="false" has-footer="false" padding="true" scroll="false">
<div class="bar bar-header bar-positive">
  <h1 class="title">ProPedidos</h1>
</div>
<div ng-controller="CatalogoCtrl">
  <div class="bar bar-subheader bar-positive">
    <button class="button button-icon icon ion-android-exit" ng-click="confirmLogout()"></button>
    <h2 class="title">Portafolio de Productos</h2>
    <!--<a class="button button-icon icon ion-ios-cart" href="#/catalogo/carrito"></a>-->
    <!--<button ui-sref="carrito" class="button button-icon icon ion-ios-cart"></button>-->
    <button class="button button-icon icon ion-ios-cart" ng-click="modal.show()">
  </div>

  <div class="buscar_boton">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar" ng-model="buscador">
      </label>
    </div>
  </div>


  <ion-scroll>
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="producto in productos | filter: buscador" class="item-thumbnail-left" ng-click="agregar(producto)">
        <img class="img_catalogo" ng-src="http://costaazul.propedidos.com/img_producto/{{producto.imagen}}">
        <p>{{producto.referencia}}</p>
        <h2 class="descripcion_prod">{{producto.nombre_producto}}</h2>
        <p class="descripcion_prod">{{producto.descripcion}}</p>
        <!--<button type="button" ng-click="agregar(producto)">Agregar</button>-->
      </ion-item>

    </ion-list>
  </ion-scroll>
</ion-content>

  <script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Carrito de Productos</h1>
        <!--<button class="button button-clear ion-android-close" ng-click="modal.hide()"></button>-->
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        <button class="button button-clear ion-navigate" ng-click="sendConfirm()"></button>
      </ion-header-bar>
      <ion-content class="padding">
        <ion-toggle toggle-class="toggle-assertive" ng-model="prioridad.checked">
          PRIORIDAD
        </ion-toggle>
        <ion-list can-swipe="listCanSwipe" show-delete="data.showDelete">
          <ion-item class="item-thumbnail-left" ng-repeat="item in carrito">
            <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
            <img class="img_carrito" ng-src="http://costaazul.propedidos.com/img_producto/{{item.imagen}}">
            <h2 class="descripcion_prod">{{item.descripcion}}</h2>
            <p>{{item.referencia}}</p>
              <label class="item item-input">
                <i class="icon ion-android-add-circle placeholder-icon"></i>
                <input type="text" ng-model="item.Cantidad" placeholder="Cantidad">
              </label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-modal-view>
  </script>

</div>
<!--</ion-side-menu-content>-->

<!--<ion-side-menu side="left">
<ion-list>
  <ion-item class="bar bar-header bar-positive">
    <h1 class="title">Opciones</h1>
  </ion-item>
  <ion-item ng-click="logout()">Cerrar Sesión</ion-item>
</ion-list>
</ion-side-menu>
</ion-side-menus>-->
