
<div class="bar bar-header bar-positive">
  <h1 class="title">Bienvenido a ProPedidos</h1>
</div>
<div class="bar bar-subheader bar-positive">
  <button class="button button-icon icon ion-chevron-left" ng-click="myGoBack()"></button>
  <h2 class="title">Agregar Cliente</h2>
  <!--<a class="button button-icon icon ion-person-add"></a>-->
</div>

<div class="list" style="margin-top: 100px;">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nit ó Cédula</span>
    <input type="text" ng-model="cedula" placeholder="Nit o cedula">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Razón Social</span>
    <input type="text" ng-model="razon_social" placeholder="Razón social">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Representante Legal</span>
    <input type="text" ng-model="rep_legal" placeholder="Representante legal">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Dirección</span>
    <input type="text" ng-model="direccion" placeholder="Dirección">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Barrio
    </div>
    <select ng-model="barrio_cliente" ng-change="cargarestablecimientos()">
      <option ng-repeat="barrio in barrios" value="{{ barrio.id_barrio }}">{{ barrio.nombre_barrio }}</option>
    </select>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Telefono</span>
    <input type="text" ng-model="telefono" placeholder="Telefono">
  </label>
  <div class="padding">
    <button ng-click="" ng-disabled="!cedula || !razon_social || !rep_legal || !direccion || !barrio_cliente || !telefono" class="button button-block button-positive">Registrar Cliente</button>
  </div>
</div>
