    <div class="item">
      <img src="img/Logo3.png" class="center_img" alt="" width="200" height="148">
    </div>

    <div class="list">
        <form ng-submit="login.login()" method="post">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Usuario</span>
                <input type="text" ng-model="login.email" placeholder="Usuario">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Contraseña</span>
                <input type="password" ng-model="login.password" ng-minlegth="3" placeholder="*****">
            </label>
            <div class="padding">
                <button type="submit" ng-disabled="!login.email || !login.password" class="button button-block button-positive">Iniciar Sesión</button>
            </div>
        </form>
    </div>
