
<div class="bar bar-header bar-positive">
  <h1 class="title">Bienvenido a ProPedidos</h1>
</div>
<div class="bar bar-subheader bar-positive">
  <button class="button button-icon icon ion-android-exit" ng-click="confirmLogout()"></button>
  <h2 class="title">Cliente</h2>
  <a ui-sref="cliente" class="button button-icon icon ion-person-add" ng-click="datos2()"></a>
</div>

<div class="">
  <img src="img/Logo3.png" class="center_img" alt="" width="200" height="148">
</div>

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Barrio
    </div>
    <select ng-model="select1" ng-change="cargarestablecimientos()">
      <option ng-repeat="barrio in barrios" value="{{ barrio.id_barrio }}">{{ barrio.nombre_barrio }}</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Establecimiento
    </div>
    <select ng-model="select2">
      <option ng-repeat="establecimiento in establecimientos" value="{{ establecimiento.nid }}">{{ establecimiento.razon_social_cliente }}</option>
    </select>
  </label>

  <div class="padding">
    <button ng-click="datos()" ng-disabled="!select1 || !select2" class="button button-block button-positive">Ir a Catálogo</button>
  </div>
</div>
