/* Empty. Add your own CSS if you like */
.center_img{
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 100px;
   margin-bottom: 20px;
}

.buscar_boton{
  margin-top: 95px;
  margin-bottom: 10px;
}

.img_catalogo{
  padding: 0px 20px 0px 10px;
}

.img_carrito{
  padding: 0px 20px 0px 10px;
}

.descripcion_prod{
  text-transform: uppercase;
}
